
body {
  background: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-height: 100vh;
  margin: 0;
}


.container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 1px solid #333;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #bb86fc; 
  letter-spacing: 1px;
}


input {
  width: 70%;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 8px 0 0 8px;
  background: #252525;
  color: white;
  outline: none;
}


button {
  width: 25%;
  padding: 12px;
  border: none;
  background: #03dac6; 
  color: #000;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #01b0a1;
}


ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

li {
  background: #2c2c2c;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  text-align: left;
  border-left: 4px solid #bb86fc; 
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}